networkx
future
numpy; python_version < '3.0'
numpy==1.18.4; python_version >= '3.0'
distro
Shapely==1.6.4.post2
pygame
matplotlib
open3d
Pillow
carla==0.9.13
opencv-python==4.1.2.30
tensorflow==2.3.0
torch
torchvision
ultralytics
